{% assign current_tag = page.tag %}

<h6 class="fw-semibold mb-3">Tags</h6>

<div class="d-flex flex-wrap gap-2">

    <!-- All Posts -->
    <a href="#"
        class="small border px-2 py-1 rounded text-decoration-none d-inline-flex align-items-center gap-1 tag-filter text-muted"
        data-tag="">
        <i class="bi bi-tag-fill"></i>
        All
    </a>


    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    {% assign count = tag[1].size %}
    <a href="#"
        class="small border px-2 py-1 rounded text-decoration-none d-inline-flex align-items-center gap-1 tag-filter text-muted"
        data-tag="{{ tag[0] }}">
        <i class="bi bi-tag-fill"></i>
        {{ tag[0] }} ({{ count }})
    </a>
    {% endfor %}

</div>