<div class="position-fixed top-3">
    <ul class="nav nav-underline flex-column small">
        <li class="nav-item"><a class="nav-link link-secondary px-0 py-0" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link link-secondary px-0 py-0" href="#education">Education</a></li>
        <li class="nav-item"><a class="nav-link link-secondary px-0 py-0" href="#experience">Experience</a></li>
        <li class="nav-item"><a class="nav-link link-secondary px-0 py-0" href="#awards">Awards</a></li>
        <li class="nav-item"><a class="nav-link link-secondary px-0 py-0" href="#languages">Languages</a></li>
        <li class="nav-item"><a class="nav-link link-secondary px-0 py-0" href="#interests">Interests</a></li>
        <li class="nav-item"><a class="nav-link link-secondary px-0 py-0" href="#certificates">Certificates</a></li>
    </ul>
</div>