<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary border-bottom" data-pagefind-ignore>
    <div class="container-fluid container-lg">

        <a class="navbar-brand fw-medium" href="/">
            <i class="bi bi-command me-2"></i>
            <span class="">{{ site.first_name | slice: 0 | upcase }}</span>
            <i class="bi bi-dot"></i>
            <span>{{ site.last_name | slice: 0 | upcase }}</span>
        </a>


        <!-- Mobile Right Side -->
        <div class="d-flex align-items-center gap-4 d-lg-none">

            <div class="theme-switch theme-toggle">
                <i class="bi bi-sun-fill theme-icon"></i>
                <div class="switch-thumb"></div>
                <i class="bi bi-moon-fill theme-icon"></i>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>

        <!-- Desktop Collapse -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">

                {% for item in site.data.navigation %}
                {% assign is_active = page.url == item.link or page.url contains item.link %}
                <li class="nav-item">
                    <a class="nav-link {% if is_active %}active{% endif %}" href="{{ item.link }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}

            </ul>

            <!-- Desktop Toggle -->
            <div class="ms-lg-3 d-none d-lg-block">
                <div class="theme-switch theme-toggle">
                    <i class="bi bi-sun-fill theme-icon"></i>
                    <div class="switch-thumb"></div>
                    <i class="bi bi-moon-fill theme-icon"></i>
                </div>
            </div>

        </div>
    </div>
</nav>