<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary border-bottom" data-pagefind-ignore>
    <div class="container-fluid container-lg">

        <a class="navbar-brand fw-semibold" href="/">
            {{ site.first_name }} {{ site.last_name }}
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">

                {% for item in site.data.navigation %}
                {% assign is_active = page.url == item.link or page.url contains item.link %}
                <li class="nav-item">
                    <a class="nav-link {% if is_active %}active{% endif %}" href="{{ item.link }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}

                <!-- Theme toggle -->
                <li class="nav-item">
                    <button id="theme-toggle" class="btn btn-sm">
                        <i class="bi bi-moon-fill"></i>
                    </button>
                </li>

            </ul>
        </div>
    </div>
</nav>