---
layout: default
---

<main class="container-fluid container-lg my-5">
    <div class="row">

        <aside class="col-md-4 col-lg-2 d-none d-md-block">
            <div class="position-sticky me-4" style="top: 145px;">
                {% include blog-sidebar.html %}
            </div>
        </aside>

        <section class="col-12 col-md-8 col-lg-10">
            {% include blog-header.html %}

            <div class="d-md-none my-5">
                {% include blog-mobile-filter.html %}
                <hr class="my-5">
            </div>

            {{ content }}

        </section>

    </div>
</main>