<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="position-relative" data-bs-spy="scroll" data-bs-target="#cv-nav" data-bs-offset="100">

    {% include navigation.html %}

    <main class="container-fluid container-lg py-2 py-lg-3 my-2 my-lg-4">
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/theme-toggle.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ '/assets/js/blog-filter.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/projects-filter.js' | relative_url }}"></script>

    {% if page.use_tag_pages_js %}
    <script src="{{ '/assets/js/tag_pages.js' | relative_url }}"></script>
    {% endif %}
    <script src="{{ '/assets/js/share.js' | relative_url }}"></script>
</body>

</html>