---
layout: default
---

<main class="container-fluid container-lg py-3 py-md-4 my-3 my-md-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-9">

            <a href="{{ '/projects/' | relative_url }}"
                class="small text-decoration-none text-muted d-inline-block mb-5">
                <i class="bi bi-arrow-left me-1"></i>
                Back to Projects
            </a>

            <header class="mb-4">
                <h1 class="h2 fw-semibold mb-2">
                    {{ page.title }}
                </h1>

                {% if page.description %}
                <p class="text-muted mb-3">
                    {{ page.description }}
                </p>
                {% endif %}

                {% if page.external_url %}
                <a href="{{ page.external_url }}" target="_blank"
                    class="small border px-3 py-1 rounded text-decoration-none d-inline-flex align-items-center gap-1 mb-4">
                    <i class="bi bi-github"></i>
                    View Repository
                </a>
                {% endif %}
            </header>

            <div class="project-body">
                {{ content }}
            </div>

        </div>
    </div>
</main>